@media(max-width:800px) {
    .sidebar {
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #ddd;
        padding: 0;
    }


    .sidebar nav button {
        display: inline-block;
        margin: 0;
        padding: 6px 4px;
        font-size: 12px;
        background: transparent;
    }


    .main {
        flex-direction: column;
        padding-bottom: 70px;
        /* Space for bottom nav */
    }


    .container {
        width: 100%;
    }

    .main {
        padding: 8px
    }
}