.nav {
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding:12px;
    background: #e7b21f;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.nav-left {
    font-weight: 600;
    font-size: 20px;
}

.nav-right {
    font-size: 16px;
}