.nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background: #1a73e8;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.nav-left {
    font-weight: 600
}

.nav-right {
    font-size: 14px
}