.sidebar {
    width: 220px;
    background: #f6f9ff;
    padding: 12px 8px;
    height: calc(100vh - 60px);
    box-sizing: border-box;
}


@media(max-width:800px) {
    .sidebar {
        width: 100% !important;
        height: 60px !important;
        background: #1a73e8 !important;
        position: fixed !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        top: auto !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-around;
        align-items: center !important;
        padding-left: 15px !important;
        border-top: 1px solid #ddd !important;
    }


    .sidebar nav {
        display: flex !important;
        flex-direction: row !important;
        gap: 0 !important;
        width: 100% !important;
        justify-content: space-evenly !important;
    }


    .sidebar nav button {
        flex: 1;
        text-align: center;
        margin: 0 !important;
        padding: 8px 0 !important;
        border-radius: 0 !important;
        background: transparent !important;
        font-size: 15px !important;
        color: white !important;
    }
}

.sidebar nav button {
    display: block;
    width: 100%;
    padding: 10px;
    border: 0;
    background: transparent;
    border-radius: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    color: black;
}

.sidebar nav button.active {
    background: #e8f0fe;
}